KERNEL=="uhid", MODE="0660", GROUP="bluetooth"

ACTION=="add", SUBSYSTEM=="input", KERNEL=="event*", IMPORT{program}="/mnt/us/kindle_hid_passthrough/scripts/dev_is_keyboard.sh %S%p"
